<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <Appender name="splunkAppender" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://localhost:8088</url>
        <index>spirng_index</index>
        <token>b01481ed-7e32-41a6-a821-4f17a59fcb92</token>
        <host>localhost</host>
        <type>raw</type>
        <source>http-log-event</source>
<!--        <sourcetype>log4j</sourcetype>-->
        <messageFormat>text</messageFormat>
        <disableCertificateValidation>true</disableCertificateValidation>
<!--        <batch_size_count>1</batch_size_count>
        <middleware>HttpEventCollectorUnitTestMiddleware</middleware>
        <connectTimeout>5000</connectTimeout>
        <terminationTimeout>2000</terminationTimeout>
        <eventBodySerializer>util.RawEventBodySerializer</eventBodySerializer>
        <disableCertificateValidation>true</disableCertificateValidation>
        <send_mode>parallel</send_mode>
        <batch_size_bytes>102400</batch_size_bytes>
        <batch_size_count>10</batch_size_count>
        <batch_interval>60000</batch_interval>-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m%n</pattern>
        </layout>
    </Appender>
    <logger name="splunk.logger" additivity="false" level="DEBUG">
        <appender-ref ref="splunkAppender" />
    </logger>
    <root level="trace">
        <appender-ref ref="splunkAppender"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>