<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Logging in Console, Docker listens to console. Refer Docker log back configuration file -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>