spring:
  application:
    name: server

job:
  config:
    job-max-thread: 10
    on-schedule-job-types:
      orphan-cleanup:
        corn: "0 * * * * *"
        job-types:
          - data-load
          - data-cleanup
          - submit-data
          - resubmit-data
          - fetch-details

    on-request-job-types:
      data-load:
        max-run-time: 5
        exceptions: true
        abort: false
        conflict: submit-data,resubmit-data,fetch-status
        action: ABORT
        message: Job can't be started due to depended job in execution (submit-data,resubmit-data,fetch-status)
        orphan:
          max-grace-time: 5
          action: ABORT
      data-cleanup:
        max-run-time: 3
        exceptions: true
        abort: false
        conflict: submit-data,resubmit-data,fetch-details
        action: WAITING
        wait-time: 10
        message: Job can't be started moving to waiting due to depended job in execution (submit-data,resubmit-data,fetch-details)
        orphan:
          max-grace-time: 5
          action: ABORT
      submit-data:
        max-run-time: 8
        exception: true
        abort : true
        conflict: data-load, data-cleanup
        action: ABORT
        message: Job can't be started due to depended job in execution (data-load, data-cleanup)
        orphan:
          max-grace-time: 5
          action: ABORT
      resubmit-data:
        max-run-time: 5
        exception: true
        abort: true
        conflict: data-load, data-cleanup
        action: ABORT
        message: Job can't be started due to depended job in execution (data-load, data-cleanup)
        orphan:
          max-grace-time: 5
          action: ABORT
      fetch-details:
        max-run-time: 7
        exception: true
        abort: true
        conflict: data-load, data-cleanup
        action: ABORT
        message: Job can't be started due to depended job in execution (data-load, data-cleanup)
        orphan:
          max-grace-time: 5
          action: ABORT


