<!DOCTYPE html>
<!--
* @author Adarsh Kumar
* @author $LastChangedBy: Adarsh Kumar$
* @version $Revision: 0001 $, $Date:: 1/1/10 0:00 AM#$
* @Espark @copyright all right reserve
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Espark User Home Page!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="font/css/font-awesome.min.css"/>

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">

        <div class="alert alert-info">
            <h1 th:inline="text">Welcome to Espark [[${#httpServletRequest.remoteUser}]]!</h1>
        </div>

        <div class="alert alert-info">
            USER NAME <p th:text="${username}"></p>
        </div>

        <div class="alert alert-info">
            USER ROLE <p th:text="${role}"></p>
        </div>

        <div class="alert alert-info">
            USER MESSAGE <p th:text="${message}"></p>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="LogOut"/>
        </form>

    </div>
</div>
</body>
</html>