<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Logging in Console, Docker listens to console. Refer Docker log back configuration file -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} app=%mdc{JCP_LOGGER_ID:-content_authoring} %clr(logLevel=%p) xRequestID=%mdc{xRequestID} %clr(pid=${PID}){magenta} %clr(thread=%t){faint} %clr(logger=%-40.40logger{39}){cyan} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>